[submodule "src/SF/UtilitiesBundle"]
	path = src/SF/UtilitiesBundle
	url = https://github.com/cirdan/UtilitiesBundle.git
[submodule "src/SF/CapBundle"]
	path = src/SF/CapBundle
	url = https://github.com/cirdan/CapBundle.git
[submodule "src/SF/CapUserBundle"]
	path = src/SF/CapUserBundle
	url = https://github.com/cirdan/CapUserBundle.git