parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: yourDatabase
    database_user: yourUser
    database_password: yourPassword
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: yourSecret
    database_path: null
